/* Wagtail 4 hides title headers by default, this style restores them */

.w-panel.title:first-child .w-panel__header,
.w-panel.title:nth-child(2) .w-panel__header {
    position: static;
    width: fit-content;
    height: fit-content;
    margin-inline-start: -4.5rem;
    margin-bottom: .75rem;
}

.w-panel.title:first-child .w-panel__header .w-panel__anchor--prefix,
.w-panel.title:first-child .w-panel__header .w-panel__toggle,
.w-panel.title:nth-child(2) .w-panel__header .w-panel__anchor--prefix,
.w-panel.title:nth-child(2) .w-panel__header .w-panel__toggle {
    display: inline-grid;
}
.w-panel.title .Draftail-Editor .public-DraftEditor-content,
.w-panel.title input,
.w-panel.title textarea,
.w-panel.title .Draftail-Editor .public-DraftEditor-content,
.w-panel.title input,
.w-panel.title textarea {
 color:var(--w-color-primary);
 color:var(--w-color-grey-600);
 font-size:1.875rem;
 font-weight:800;
 line-height:1.3;
 margin-inline-start:-.375rem;
 padding-inline-start:.375rem;
}
.w-panel.title .Draftail-Editor .public-DraftEditor-content:not(:hover, :focus, [aria-invalid=true]),
.w-panel.title input:not(:hover, :focus, [aria-invalid=true]),
.w-panel.title textarea:not(:hover, :focus, [aria-invalid=true]),
.w-panel.title .Draftail-Editor .public-DraftEditor-content:not(:hover, :focus, [aria-invalid=true]),
.w-panel.title input:not(:hover, :focus, [aria-invalid=true]),
.w-panel.title textarea:not(:hover, :focus, [aria-invalid=true]) {
 border-color:#0000
}
